/*
<!ENTITY margin-top-containers "4px">
<!ENTITY margin-top-other "0px">
<!ENTITY margin-left-containers "4px">
<!ENTITY border-left-containers "3px">
<!ENTITY font-containers "6pt">
<!ENTITY font-inline "4pt">
<!ENTITY sum-margin-and-border-left-containers "7">
<!ENTITY max-content-value "2600">
<!ENTITY min-content "3">
<!ENTITY content-value-unit-of-measure "px">
*/

* {
    margin-top:4px; /* margin-top-containers */
    font-size:6pt; /* font-containers */
}

.container, .headedcontainer, .popup, .table, .record {
    margin-left: 4px; /* margin-left-containers */
}

.headedcontainer {
    /* border-left-containers */ 
    border-left: 3px solid hotpink;
}

.container {
    /* border-left-containers */ 
    border-left: 3px solid cyan;
}

/*
.pippo * {
    display:none;
}
*/

.table {
    /* border-left-containers */ 
    border-left: 3px solid teal;
}

.record {
    /* border-left-containers */ 
    border-left: 3px solid red;
}

.popup {
    /* border-left-containers */ 
    border-left: 3px solid pink;
}

.block {
    background-color:blue;
    margin-top: 0px; /* margin-top-other */
}

.block > span:first-child {
	color:darkorange;
}

.field {
    background-color:forestgreen;
    margin-top: 0px; /* margin-top-other */
}

.meta {
    background-color:mediumorchid;
    margin-top: 0px; /* margin-top-other */
}

.table + .block, .record + .block, .headedcontainer + .block, .container + .block, .popup + .block  {
    margin-top: 4px; /* margin-top-containers */
}

span {
    vertical-align:middle;
    font-size:4pt; /* font-inline */
}

*:not(span) > span:first-child {
    font-size:inherit;
    vertical-align:inherit;
}

.inline {
    background-color:ivory;
}

.atom {
    background-color:aqua;
}

.milestone {
    background-color:mistyrose;
}


/* SUPPORT PATTERN */
.container-div {
    display:inherit;
    background-color:cyan;
}

.table-div {
    display:inherit;
    background-color:teal;
}

.record-div {
    display:inherit;
    background-color:red;
}

.popup-div {
    display:inherit;
    background-color:pink;
}

.headedcontainer-div {
    display:inherit;
    background-color:hotpink;
}